<script>
  document
    .querySelector(".header__logo")
    ?.addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });

  document.querySelectorAll(".header__nav-btn").forEach((btn) => {
    btn.addEventListener("click", function () {
      const target = document.querySelector(`#${btn.getAttribute("data-to")}`);
      if (!target) return window.scrollTo({ top: 0, behavior: "smooth" });
      window.scrollTo({
        top: (target as HTMLElement).offsetTop - 82,
        behavior: "smooth",
      });
    });
  });
</script>

<header class="header">
  <button class="header__logo"><h1>bradn</h1></button>
  <nav class="header__nav">
    <ul>
      <li><button class="header__nav-btn" data-to="work">Work</button></li>
      <li><button class="header__nav-btn" data-to="tech">Tech</button></li>
      <li>
        <button class="header__nav-btn" data-to="contact">Contact</button>
      </li>
    </ul>
  </nav>
</header>
