---
import AstroIcon from "./icons/AstroIcon.astro";
import ExpressIcon from "./icons/ExpressIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import KotlinIcon from "./icons/KotlinIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import RustIcon from "./icons/RustIcon.astro";
import TypescriptIcon from "./icons/TypescriptIcon.astro";
import VueIcon from "./icons/VueIcon.astro";
---

<div class="tech-showcase">
  <div class="tech-lang">
    <div class="tech-lang__header">
      <TypescriptIcon />
      Typescript
    </div>
    <div class="tech-lang__body">
      Using typescript is a lifesaver in every project and makes maintainability
      much easier.
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <VueIcon />
      VueJS
    </div>
    <div class="tech-lang__body">
      Highly interactive and durable front-end for large apps, with great SSR
      when using NuxtJS
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <ExpressIcon />
      express
    </div>
    <div class="tech-lang__body">
      Quickly and easily push out large web API's that are quick and effective
      without the hassle.
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <AstroIcon />
      Astro
    </div>
    <div class="tech-lang__body">
      Great SEO, island based technology, and great syntax. Perfect for static
      websites that need to perform.
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <RustIcon />
      Rust
    </div>
    <div class="tech-lang__body">
      Large & quick backend API's where performance matters more than anything
      else.
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <ReactIcon />
      React
    </div>
    <div class="tech-lang__body">
      Great for large, interactive, stateful single page web applications where
      vue doesn't work.
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <KotlinIcon />
      Kotlin
    </div>
    <div class="tech-lang__body">
      I utilize Kotlin when working on mods/plugins for video games or working
      on website APIs
    </div>
  </div>
  <div class="tech-lang">
    <div class="tech-lang__header">
      <JavaIcon />
      Java
    </div>
    <div class="tech-lang__body">
      When maintaining or working on large applications, I frequently find
      myself using java.
    </div>
  </div>
</div>
