<script>
  const wrapperEl = document.getElementById("work-scroller-wrapper");
  const scrollEl = document.getElementById("work-scroller");
  if (scrollEl && wrapperEl) {
    let scrollDiff = 350 + 16;
    wrapperEl.addEventListener("wheel", (evt) => {
      evt.preventDefault();
      let left =
        evt.deltaY < 0
          ? wrapperEl.scrollLeft - scrollDiff
          : wrapperEl.scrollLeft + scrollDiff;
      wrapperEl.scrollTo({ behavior: "smooth", left, top: 0 });
    });

    let currentPos = wrapperEl.scrollLeft;

    const update = () => {
      const newPos = wrapperEl.scrollLeft;
      const diff = newPos - currentPos;
      const speed = diff * 0.35;

      scrollEl.style.transform = `skewX(${speed}deg)`;

      currentPos = newPos;

      requestAnimationFrame(update);
    };

    update();
  }
</script>

<div id="work-scroller-wrapper">
  <div id="work-scroller" class="work-list">
    <a class="work-list__item" href="#">
      <div class="work-list__item-header">
        <img class="work-list__item-logo" src="/icon.png" alt="" />
        <div class="work-list__item-title">
          <h1>bradn.dev</h1>
          <h2>Development</h2>
        </div>
      </div>
      <div class="work-list__item-body">
        <h1>Role</h1>
        <p>CEO, Developer</p>
        <h1>What I do</h1>
        <p>Develop products for customers, and manage business operations.</p>
      </div>
    </a>
    <a class="work-list__item" href="https://proton-cloud.com/">
      <div class="work-list__item-header">
        <img class="work-list__item-logo" src="/proton-cloud.png" alt="" />
        <div class="work-list__item-title">
          <h1>Proton-Cloud</h1>
          <h2>Server Hosting</h2>
        </div>
      </div>
      <div class="work-list__item-body">
        <h1>Role</h1>
        <p>Developer</p>
        <h1>What I do</h1>
        <p>
          I develop front and backend of the main website and billing panel,
          along with managing servers and expansion.
        </p>
      </div>
    </a>
    <a class="work-list__item" href="https://github.com/itsbradn/eco">
      <div class="work-list__item-header">
        <img class="work-list__item-logo" src="/ecobot.png" alt="" />
        <div class="work-list__item-title">
          <p class="dep">Deprecated</p>
          <h1>EcoBot</h1>
          <h2>RPG Discord Bot</h2>
        </div>
      </div>
      <div class="work-list__item-body">
        <h1>Role</h1>
        <p>CEO, Developer</p>
        <h1>What I do</h1>
        <p>
          Built and maintained a RPG discord bot with over 100,000 users. The
          bot allowed users to play together and compete in dungeons and other
          activities.
        </p>
      </div>
    </a>
    <a
      class="work-list__item"
      href="https://github.com/itsbradn/stats.bradn.dev"
    >
      <div class="work-list__item-header">
        <img class="work-list__item-logo" src="/bradn-stats.svg?data" alt="" />
        <div class="work-list__item-title">
          <p class="dep">Deprecated</p>
          <h1>bradn stats</h1>
          <h2>Game Statistics</h2>
        </div>
      </div>
      <div class="work-list__item-body">
        <h1>Role</h1>
        <p>CEO, Developer</p>
        <h1>What I do</h1>
        <p>
          I developed and maintained the website until 2022, when I moved on to
          other projects.
        </p>
      </div>
    </a>
  </div>
</div>
