.contents-table {
  width: 300px;
  height: calc(100vh - 82px);
  position: sticky;
  top: 82px;
  left: 0;
  > nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.content {
  background-color: blue;
}

.page-contents {
  width: 300px;
  height: calc(100vh - 82px);
  position: sticky;
  background-color: red;
  top: 82px;
  right: 0;
}

.content {
  height: 500vh;
  margin-top: 82px;
  flex-grow: 1;
}

.doc-table {
  width: 100%;
  display: flex;
}

.contents__title {
  color: var(--text-300);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 18px;
}

.contents__link {
  color: var(--text-100);
  text-decoration: none;
  font-size: 14px;
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  &.icon {
    margin-left: -4px;
    display: flex;
    align-items: center;

    > svg {
      height: 18px;
      width: 18px;
      margin-right: 4px;
      transform: rotate(0deg);
      transition: transform 75ms ease-in-out;
    }
  }

  &.active {
    color: #ff7994;
  }
}

.contents__drop {
  > .contents__link {
    &:hover {
      > svg {
        transform: rotate(90deg);
      }
    }
  }

  > .drop__container {
    height: 0px;
    overflow: hidden;
    transition: height 75ms ease-in-out;

    > .drop__content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 12px;
      margin-left: 6px;
    }
  }
}
