:root {
  --text-900: #4a4a4f;
  --text-800: #545359;
  --text-700: #5d5c63;
  --text-600: #6d6c73;
  --text-500: #7d7d82;
  --text-400: #8e8d92;
  --text-300: #aeaeb1;
  --text-200: #ceced0;
  --text-100: #ffffff;

}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: var(--text-100);
  font-family: 'Poppins', sans-serif;
  scrollbar-color: #201e21 transparent;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.header {
  backdrop-filter: blur(80px);
  background: rgba(0, 0, 0, .5);
  position: sticky;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  &__logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
    color: var(--text-100);
    text-decoration: none;
    cursor: pointer;

    >h1 {
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
  }

  &__nav {
    >ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }
  }

  &__nav-btn {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
    color: var(--text-200);
    transition: color 100ms ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--text-100);
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    &__nav {
      >ul {
        gap: 1rem;
      }
    }

    &__nav-btn {
      font-size: 14px;
    }
  }
}

main {
  width: 100%;
  margin-top: 82px;

}

section {
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hero {

  padding-top: 1.5rem;
  padding-bottom: 12rem;

  &__title {
    font-size: 5.5rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__cta {
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    z-index: 1;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-family: "Poppins",
    sans-serif;
    background: transparent;
    border: none;
    color: var(--text-200);
    transition: color 100ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -.25rem;
      left: 3px;
      width: 35%;
      height: 1px;
      background: var(--text-200);
      transition: width 125ms ease-in-out;
    }

    &:hover {
      color: var(--text-200);

      &::after {
        width: 95%;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.gradient {
  background: linear-gradient(-45deg, #FC5C7D, #6A82FB, #FC5C7D, #6A82FB);
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

.section__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 48px;
  color: white;

  >span {
    background: linear-gradient(-90deg, #eba7b0, #ecc2c7);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
  }

  >img {
    height: 48px;
    width: 48px;
    aspect-ratio: 1/1;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;

    >img {
      height: 28px;
      width: 28px;
    }
  }
}

.description {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 12rem;

  >img {
    height: 16px;
    width: 16px;
    margin-bottom: -.2rem;
    aspect-ratio: 1/1;
  }

  @media screen and (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 12px;
    max-width: 60%;
    margin-bottom: 12rem;

    >img {
      height: 14px;
      width: 14px;
    }
  }
}

#work-scroller-wrapper {
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 1rem;
  scrollbar-color: #201e21 transparent;
}

.work-list {
  display: flex;
  gap: 1rem;
  overflow: visible;
  justify-content: stretch;


  &__item {
    border: 1px solid #151416;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: var(--text-100);
    display: block;
    width: 350px;
    min-width: 350px;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: #151416;
    }
  }

  &__item-header {
    padding: 1rem;
    border-bottom: 1px solid #151416;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__item-body {
    padding: 1rem;

    >* {
      margin: 0;
      margin-bottom: .75rem;
      font-size: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    >h1 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    >p {
      color: var(--text-200);
    }
  }

  &__item-logo {
    height: 72px;
    width: 72px;
    object-fit: fill;
    object-position: 0 0;
    border-radius: 16px;
  }

  &__item-title {
    >h1 {
      font-size: 1.1rem;
      color: var(--text-100);
      font-weight: 600;
      margin: 0;
    }

    >h2 {
      color: var(--text-200);
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }
  }

}

#work {
  
  padding-bottom: 10rem;
}

#contact {
  padding-bottom: 10rem;
}

#tech {
  padding-bottom: 10rem;
}

.tech-list {
  border: 1px solid #151416;
  border-radius: 8px;
  
  padding: 2rem;
  &__header {
    margin-bottom: 1.5rem;
    >h1 {
      margin: 0;
      font-size: .95rem;
      color: var(--text-400);
      font-weight: 700;
      letter-spacing: -0.01rem;
      text-transform: uppercase;
    }
  }

  &__body {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}

.tech-scores {
  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
    align-items: flex-end;

    >h1 {
      font-size: 1.5rem;
      color: var(--text-300);
      font-weight: 400;
      margin: 0;
      height: 2.25rem;

      &.highlighted {
        color: var(--text-100);
      }
      
  @media screen and (max-width: 768px) {
    font-size: .75rem;
    height: 1.25rem;
  }
    }

  }

  &__scores {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__score-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #151416;
    border-radius: 8px;
    height: 1.75rem;
    padding: .25rem;

    &.score-highlight {
      border: 1px solid #39383f;

      >.tech-scores__score {
        background: linear-gradient(-90deg, #FC5C7D, #6A82FB);
      }

      >.tech-scores__score-num {
        color: var(--text-100);
      }
    }
    @media screen and (max-width: 768px) {
      height: .75rem;
      padding: .25rem;
      gap: .5rem;
    }
  }

  &__score {
    height: 100%;
    border-radius: 4px;
    background-color: #151416;
    transition: width .2s ease-in-out;
    background: linear-gradient(-90deg, #0F2027, #203A43, #2C5364);
  }

  &__score-num {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-300);
    @media screen and (max-width: 768px) {
      font-size: 12px;
      margin-right: 8px;
    }
  }
}

.social-list {
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
  gap: 2rem;

  >a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-100);

    >svg {
      height: 2.25rem;
      width: 2.25rem;
    }

    &.discord {
      >svg {
        color: #5865F2;
      }
    }
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #151416;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #201e21;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #151416;
  border-radius: 10px;
}